<h1>Ukázka Flexboxu</h1>
<mat-tab-group>
  <mat-tab label="Flex/Direction/Wrap">
    <h3>default</h3>
    <div class="container">
      <div class="flex-item item-1">Item 1</div>
      <div class="flex-item item-2">Item 2</div>
      <div class="flex-item item-3">Item 3</div>
      <div class="flex-item item-4">Item 4</div>
      <div class="flex-item item-5">Item 5</div>
      <div class="flex-item item-6">Item 6</div>
      <div class="flex-item item-7">Item 7</div>
      <div class="flex-item item-8">Item 8</div>
      <div class="flex-item item-9">Item 9</div>
    </div>
    <hr>
    <h3><code>display: flex</code></h3>
    <div class="container-flex">
      <div class="flex-item item-1">Item 1</div>
      <div class="flex-item item-2">Item 2</div>
      <div class="flex-item item-3">Item 3</div>
      <div class="flex-item item-4">Item 4</div>
      <div class="flex-item item-5">Item 5</div>
      <div class="flex-item item-6">Item 6</div>
      <div class="flex-item item-7">Item 7</div>
      <div class="flex-item item-8">Item 8</div>
      <div class="flex-item item-9">Item 9</div>
    </div>
    <hr>
    <h3><code>display: inline-flex</code></h3>
    <div class="container-inline-flex">
      <div class="flex-item item-1">Item 1</div>
      <div class="flex-item item-2">Item 2</div>
      <div class="flex-item item-3">Item 3</div>
      <div class="flex-item item-4">Item 4</div>
      <div class="flex-item item-5">Item 5</div>
      <div class="flex-item item-6">Item 6</div>
      <div class="flex-item item-7">Item 7</div>
      <div class="flex-item item-8">Item 8</div>
      <div class="flex-item item-9">Item 9</div>
    </div>
    <hr>
    <h3>Container mimo jiné obsahuje <code>flex-wrap: wrap</code> a všechny itemy se drží v rámci containeru při změně rozlišení.</h3>
    <div class="container-wrap">
      <div class="flex-item item-1">Item 1</div>
      <div class="flex-item item-2">Item 2</div>
      <div class="flex-item item-3">Item 3</div>
      <div class="flex-item item-4">Item 4</div>
      <div class="flex-item item-5">Item 5</div>
      <div class="flex-item item-6">Item 6</div>
      <div class="flex-item item-7">Item 7</div>
      <div class="flex-item item-8">Item 8</div>
      <div class="flex-item item-9">Item 9</div>
    </div>
    <hr>
    <h3>Převrácený směr zobrazení itemů - <code>flex-direction: row-reverse</code></h3>
    <div class="container-flex-direction-row-reverse">
      <div class="flex-item item-1">Item 1</div>
      <div class="flex-item item-2">Item 2</div>
      <div class="flex-item item-3">Item 3</div>
      <div class="flex-item item-4">Item 4</div>
      <div class="flex-item item-5">Item 5</div>
      <div class="flex-item item-6">Item 6</div>
      <div class="flex-item item-7">Item 7</div>
      <div class="flex-item item-8">Item 8</div>
      <div class="flex-item item-9">Item 9</div>
    </div>
    <hr>
    <h3>Sloupcové zobrazení - <code>flex-direction: column</code></h3>
    <div class="container-flex-direction-column">
      <div class="flex-item item-1">Item 1</div>
      <div class="flex-item item-2">Item 2</div>
      <div class="flex-item item-3">Item 3</div>
      <div class="flex-item item-4">Item 4</div>
      <div class="flex-item item-5">Item 5</div>
      <div class="flex-item item-6">Item 6</div>
      <div class="flex-item item-7">Item 7</div>
      <div class="flex-item item-8">Item 8</div>
      <div class="flex-item item-9">Item 9</div>
    </div>
    <hr>
    <h3>Sloupcové zobrazení. Převrácený směr zobrazení itemů - <code>flex-direction: column-reverse</code></h3>
    <div class="container-flex-direction-column-reverse">
      <div class="flex-item item-1">Item 1</div>
      <div class="flex-item item-2">Item 2</div>
      <div class="flex-item item-3">Item 3</div>
      <div class="flex-item item-4">Item 4</div>
      <div class="flex-item item-5">Item 5</div>
      <div class="flex-item item-6">Item 6</div>
      <div class="flex-item item-7">Item 7</div>
      <div class="flex-item item-8">Item 8</div>
      <div class="flex-item item-9">Item 9</div>
    </div>
    <hr>
    <h3>Flex direction a wrap lze definovat v rámci jednoho atributu - <code>flex-flow</code></h3>
    <div class="container-flex-flow">
      <div class="flex-item item-1">Item 1</div>
      <div class="flex-item item-2">Item 2</div>
      <div class="flex-item item-3">Item 3</div>
      <div class="flex-item item-4">Item 4</div>
      <div class="flex-item item-5">Item 5</div>
      <div class="flex-item item-6">Item 6</div>
      <div class="flex-item item-7">Item 7</div>
      <div class="flex-item item-8">Item 8</div>
      <div class="flex-item item-9">Item 9</div>
    </div>
  </mat-tab>
  <mat-tab label="Justify Content">
    <h3>Defaultně je nastaveno justify-content-flex-start, tento "end" (který je zde nastaven) posune itemy na konec containeru - <code>container-justify-content-flex-end</code></h3>
    <div class="container-justify-content-flex-end">
      <div class="flex-item item-1">Item 1</div>
      <div class="flex-item item-2">Item 2</div>
      <div class="flex-item item-3">Item 3</div>
      <div class="flex-item item-4">Item 4</div>
      <div class="flex-item item-5">Item 5</div>
    </div>
    <hr>
    <h3>Nastaví mezery mezi itemy, ale nenechá prostor na kraji itemu - <code>container-justify-content-space-between</code></h3>
    <div class="container-justify-content-space-between">
      <div class="flex-item item-1">Item 1</div>
      <div class="flex-item item-2">Item 2</div>
      <div class="flex-item item-3">Item 3</div>
      <div class="flex-item item-4">Item 4</div>
      <div class="flex-item item-5">Item 5</div>
    </div>
    <hr>
    <h3>Nastaví mezery mezi itemy a nechává mezery na kraji - <code>container-justify-content-space-around</code></h3>
    <div class="container-justify-content-space-around">
      <div class="flex-item item-1">Item 1</div>
      <div class="flex-item item-2">Item 2</div>
      <div class="flex-item item-3">Item 3</div>
      <div class="flex-item item-4">Item 4</div>
      <div class="flex-item item-5">Item 5</div>
    </div>
  </mat-tab>
  <mat-tab label="Align Items/Align Content">
    <h3>Defaultně je nastaveno strech jako hodnota align-items, tento "end" (který je zde nastaven) posune itemy na konec containeru - <code>container-align-items-flex-end</code></h3>
    <div class="container-align-items-flex-end">
      <div class="flex-item item-1">Item 1</div>
      <div class="flex-item item-2">Item 2</div>
      <div class="flex-item item-3">Item 3</div>
      <div class="flex-item item-4">Item 4</div>
      <div class="flex-item item-5">Item 5</div>
    </div>
    <hr>
    <h3>Tento "start" posune itemy na začátek containeru - <code>container-align-items-flex-start</code></h3>
    <div class="container-align-items-flex-start">
      <div class="flex-item item-1">Item 1</div>
      <div class="flex-item item-2">Item 2</div>
      <div class="flex-item item-3">Item 3</div>
      <div class="flex-item item-4">Item 4</div>
      <div class="flex-item item-5">Item 5</div>
    </div>
    <hr>
    <h3>Tento "center" posune itemy na začátek containeru - <code>container-align-items-flex-center</code></h3>
    <div class="container-align-items-flex-center">
      <div class="flex-item item-1">Item 1</div>
      <div class="flex-item item-2">Item 2</div>
      <div class="flex-item item-3">Item 3</div>
      <div class="flex-item item-4">Item 4</div>
      <div class="flex-item item-5">Item 5</div>
      <div class="flex-item item-6">Item 6</div>
      <div class="flex-item item-7">Item 7</div>
      <div class="flex-item item-8">Item 8</div>
      <div class="flex-item item-9">Item 9</div>
    </div>
    <hr>
    <hr>
    <h2>align-content funguje jen pro více řádků, proto je zde nastaven wrap</h2>
    <h3><code>container-align-content-flex-center</code></h3>
    <div class="container-align-content-flex-center">
      <div class="flex-item item-1">Item 1</div>
      <div class="flex-item item-2">Item 2</div>
      <div class="flex-item item-3">Item 3</div>
      <div class="flex-item item-4">Item 4</div>
      <div class="flex-item item-5">Item 5</div>
      <div class="flex-item item-6">Item 6</div>
      <div class="flex-item item-7">Item 7</div>
      <div class="flex-item item-8">Item 8</div>
      <div class="flex-item item-9">Item 9</div>
    </div>
    <hr>
    <h3><code>container-align-content-space-between</code></h3>
    <div class="container-align-content-space-between">
      <div class="flex-item item-1">Item 1</div>
      <div class="flex-item item-2">Item 2</div>
      <div class="flex-item item-3">Item 3</div>
      <div class="flex-item item-4">Item 4</div>
      <div class="flex-item item-5">Item 5</div>
      <div class="flex-item item-6">Item 6</div>
      <div class="flex-item item-7">Item 7</div>
      <div class="flex-item item-8">Item 8</div>
      <div class="flex-item item-9">Item 9</div>
    </div>
  </mat-tab>
</mat-tab-group>