body {
    margin: 0;
}

.container {
    border: 6px solid black;
}

.container-wrap {
    border: 6px solid black;
    display: flex;
    flex-wrap: wrap;
}

.container-flex {
    border: 6px solid black;
    display: flex;
}

.container-inline-flex {
    border: 6px solid black;
    display: inline-flex;
}

.container-flex-direction-row-reverse {
    border: 6px solid black;
    display: flex;
    flex-direction: row-reverse;
}

.container-flex-direction-column {
    border: 6px solid black;
    display: flex;
    flex-direction: column;
}

.container-flex-direction-column-reverse {
    border: 6px solid black;
    display: flex;
    flex-direction: column-reverse;
}

.container-flex-flow {
    border: 6px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.container-justify-content-flex-end {
    border: 6px solid black;
    display: flex;
    justify-content: flex-end;
}

.container-justify-content-space-between {
    border: 6px solid black;
    display: flex;
    justify-content: space-between;
}

.container-justify-content-space-around {
    border: 6px solid black;
    display: flex;
    justify-content: space-around;
}

.container-align-items-flex-end {
    border: 6px solid black;
    display: flex;
    height: 600px;
    align-items: flex-end;
}

.container-align-items-flex-start {
    border: 6px solid black;
    display: flex;
    height: 600px;
    align-items: flex-start;
}

.container-align-items-flex-center {
    border: 6px solid black;
    display: flex;
    height: 600px;
    align-items: center;
}

.container-flex-center {
    border: 6px solid black;
    display: flex;
    height: 600px;
    align-items: center;
}

.container-align-content-flex-center {
    border: 6px solid black;
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: center;
}

.container-align-content-space-between {
    border: 6px solid black;
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-between;
}


.container-flex-align-self {
    border: 6px solid black;
    display: flex;
    height: 500px;
}


.flex-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.flex-grow-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    flex-grow: 1;
}

.flex-shrink-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    flex-shrink: 0;
}

.flex-shrink-width-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    width: 8rem;
}

.flex-item-align-self {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.item-1 {
    background-color: yellow;
}

.item-2 {
    background-color: greenyellow;
}

.item-3 {
    background-color: hotpink;
}

.item-4 {
    background-color: lightcoral;
}

.item-5 {
    background-color: lightseagreen;
}

.item-6 {
    background-color: maroon;
}

.item-7 {
    background-color: maroon;
}

.item-8 {
    background-color: orangered;
}

.item-9 {
    background-color: orchid;
}


.item-order-1 {
    background-color: yellow;
}

.item-order-2 {
    background-color: greenyellow;
}

.item-order-3 {
    background-color: hotpink;
}

.item-order-4 {
    background-color: lightcoral;
    order: 1;
}
.item-order-5 {
    background-color: lightseagreen;
}

.item-order-6 {
    background-color: maroon;
}

.item-order-7 {
    background-color: maroon;
    order: 2;
}

.item-order-8 {
    background-color: orangered;
}

.item-order-9 {
    background-color: orchid;
}





.item-flex-grow-1 {
    background-color: yellow;
}

.item-flex-grow-2 {
    background-color: greenyellow;
}

.item-flex-grow-3 {
    background-color: hotpink;
}

.item-flex-grow-4 {
    background-color: lightcoral;
    flex-grow: 1;
}
.item-flex-grow-5 {
    background-color: lightseagreen;
}

.item-flex-grow-6 {
    background-color: maroon;
}

.item-flex-grow-7 {
    background-color: maroon;
}

.item-flex-grow-8 {
    background-color: orangered;
}

.item-flex-grow-9 {
    background-color: orchid;
}



.item-shrink-2 {
    background-color: greenyellow;
    flex-shrink: 8;
}




.item-bases-1 {
    background-color: yellow;
    flex-basis: auto;
}

.item-bases-400-1 {
    background-color: yellow;
    flex-basis: 400px;
}





.item-flex-align-self-1 {
    background-color: yellow;
    align-self: flex-start;
}

.item-flex-align-self-2 {
    background-color: greenyellow;
    align-self: flex-end;
}

.item-flex-align-self-3 {
    background-color: hotpink;
    align-self: center;
}

.item-flex-align-self-4 {
    background-color: lightcoral;
}
.item-flex-align-self-5 {
    background-color: lightseagreen;
}

.item-flex-align-self-6 {
    background-color: maroon;
}

.item-flex-align-self-7 {
    background-color: maroon;
}

.item-flex-align-self-8 {
    background-color: orangered;
}

.item-flex-align-self-9 {
    background-color: orchid;
}
